.main{
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
}
.nav-panel{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none; color: #16a085;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 30px;
}
.main-nav-home{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none; color: #16a085;
    text-transform: uppercase;
    margin-right: 68px;
    margin-left: 338px;
}
.main-nav-photoapp{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none; color: #16a085;
    text-transform: uppercase;
    margin-right: 72px;
}
.main-nav-design{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none; color: #16a085;
    text-transform: uppercase;
    margin-right: 77px;
}
.main-nav-download{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none; color: #16a085;
    text-transform: uppercase;
    margin-right: 370px;
}
.main-img{
    height: 790px;
    width: 100%;
}
.main-title{
    font-size: 25px;
    color: #373737;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-left: 340px;
    margin-right: 315px;
    padding-top: 56px;
}
.main-text{
    background: #f5f6f7;
}
.main-text-1{
    font-family: sans-serif
    font-size: 16px;
    margin-top: 34px;
    margin-left: 113px;
    margin-right: 108px;
}
.main-text-2{
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 41px;
    margin-left: 113px;
    margin-right: 108px;
}
.main-button{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: #16a085;
    padding: 23px 45px 18px 43px ;
    margin: 0 auto;
    border-radius: 10px;
}
.main-bottom-text{
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: right;
    margin-right: 104px;
}
.a{
    text-decoration: none;
}